body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header h1 {
    color: #4a4a4a;
    text-align: center;
}

section {
    background-color: #ffffff;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.ingredientes {
    list-style-type: square;
    color: #333;
}

.preparo {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.dica {
    color: #d9534f;
    font-weight: bold;
}
